<h3>{{pageTitle}}</h3>

<div class="panel panel-default" *ngFor="let post of posts" >
    <div class="panel-body">
        <strong>Title:</strong> {{post.title}} <br />
        <strong>Description:</strong> {{post.description}} <br />
        <div>
            <button class="btn btn-primary btn-xs glyphicon glyphicon-button" type="button" name="button" (click)="commentTmpl.comments(post)">Comments</button>
            <button class="btn btn-primary btn-xs"  (click)="editTmpl.editPost(post)">Edit Post</button>
            <button class="btn btn-secondary btn-xs btn-danger" (click)="deletePost(post)">Delete Post</button>
            <app-comments #commentTmpl ></app-comments> 
            <app-edit-post #editTmpl [editClicked]="post" ></app-edit-post>
        </div>
        <div>
            <button class="btn btn-primary btn-xm glyphicon glyphicon-thumbs-up" type="button" name="button" (click)="likeTmpl.likes(post)"> </button>
            <app-like #likeTmpl [postClicked]="post" ></app-like>    
        </div>
    </div>
</div>
    